#bod {
	background: url("http://static.panoramio.com/photos/original/10948945.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: Helvetica, Sans-Seriff;
	color: #1a1a1a;
	text-align: center;
}
#head {
	border-bottom: 1px solid #1a1a1a;
}
#headu {
	margin-right: 5%;
}
.navdrop {
	width: 9%;
	border: 1px solid #1a1a1a;
	text-align: center;
	padding: 10px;
	position: absolute;
	display: none;
}
#n1 {
	left: 24.4%;
	top: 10.2%;
}
#nd1a {
	border-bottom: 1px solid #1a1a1a;
}
#n2 {
	left: 36.4%;
	top: 10.2%;
}
#nd2a {
	border-bottom: 1px solid #1a1a1a;
}
#n3 {
	right: 31.4%;
	top: 10.2%;
}
#nd3a {
	border-bottom: 1px solid #1a1a1a;
}
#n4 {
	right: 22.1%;
	top: 10.2%;
}
#nd4a {
	border-bottom: 1px solid #1a1a1a;
}
#nd4b {
	border-bottom: 1px solid #1a1a1a;
}
#nd4c {
	border-bottom: 1px solid #1a1a1a;
}
#nd4d {
	border-bottom: 1px solid #1a1a1a;
}
ul {
	text-align: center;
}
ul li {
	display: inline-block;
	text-align: center;
	padding: 10px;
}
#topm {
	font-size: 25px;
}
.topr {
	border: 1px solid #1a1a1a;
	margin-left: 5%;
}
.topl {
	border: 1px solid #1a1a1a;
	margin-right: 5%;
}
a:link {
	text-decoration: none;
	color: #1a1a1a;
}
a:visited {
	text-decoration: none;
	color: #1a1a1a;
}
a:hover {
	text-decoration: none;
	color: white;
}
a:active {
	text-decoration: none;
	color: #1a1a1a;
}
#arlef {
	display: block;
	position: absolute;
	width: 4%;
	margin-left: 1%;
	margin-top: 1.5%;
	left: 0;
}
#arri{
	display: block;
	position: absolute;
	width: 4%;
	top: 50%;
	right: 1%;
}
#aphead {
	text-align: left;
	padding: 2%;
	padding-left: 3%;
}
#aptext {
	text-align: left;
	padding-left: 5%;
	padding-right: 2%;
}
#white {
	background-color: rgba(255, 255, 255, .7);
	position: absolute;
	margin-left: 5%;
	border: 1px solid #1a1a1a;
}
#foot {
	border-top: 1px solid #1a1a1a;
	position: absolute;
	bottom: -5%;
	width: 97%;
}